.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold_1-webfont.woff2') format('woff2'),
         url('fonts/norse-bold_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Cal Sans",'Times New Roman', Times, serif;
}

.main-wrapper {
    display: flex;
    height: 100vh;
}
.left-bg-wrapper {
    width: 30%;
    background-color: blueviolet;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
}
.black-bar {
    background-color: rgba(0, 0, 0, 0.538);
    width: 100%;
    height: 130px;
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4.5rem;
}
.black-bar p {
    font-family: 'norsebold';
}

/* right div */

.right-form-wrapper{
    width:70%;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
}
.intro-text {
    width: 100%;
    height: 290px;

}
.text{
    margin: 70px 40px;
    max-width: 60%;
    font-size: 1.2rem;
}
.text p+p{
    padding-top: 30px;   
}
.right-mid{
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.478);
}
.right-mid p {
    padding-bottom: 30px;
    font-size: 1.3rem;
}

label,input{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:400;
    color: rgb(65, 66, 69);
    width: 170px;
    
}
input {
    box-shadow: 0px 2px 5px -2px;
    padding: 10px;
    height: 20px;
    outline: none;
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
input:focus{
    outline: none;
    border:1px solid blue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.form-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10%;

}

.left-input,.right-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
